 <header class="bg-custom-dark p-4">
    <nav class="flex justify-center space-x-4 flex-wrap">
      <a href="" class="px-3 py-2 rounded-md text-white font-medium">О компании</a>
      <a href="" class="px-3 py-2 rounded-md text-white font-medium">Словарь</a>
      <a href="{% url 'api:exercises:exercises_page' %}" class="px-3 py-2 rounded-md text-white font-medium">Упражнения</a>
      <a href="#" class="px-3 py-2 rounded-md text-white font-medium">Контакты</a>
      <a href="#" class="px-3 py-2 rounded-md text-white font-medium">Полезные ссылки</a>
      <a href="{% url 'api:users:user_registration' %}" class="px-3 py-2 rounded-md text-white font-medium">Регистрация</a>
      <a href="{% url 'api:users:user_login'%}" class="px-3 py-2 rounded-md text-white font-medium">Вход</a>
    </nav>
  </header>